.header {
  display: flex;
  align-items: center;
  padding: 0.1rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.toggleButton {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}
