# API settings
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
DEBUG=False

# File upload settings
UPLOAD_DIR=
MAX_UPLOAD_SIZE=

# Default LLM settings
DEFAULT_LLM_MODEL="models/gemini-2.5-flash"
DEFAULT_LLM_PROVIDER="gemini"  # Supported: 'anthropic', 'gemini', 'openai'

# LLM Provider API Keys
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
