.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 0.95rem;
  outline: none;
}

.input:focus {
  border-color: #888;
}

.button {
  background-color: #0b5ed7;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #084298;
}
